.nav-item {
    a {
        font-size: 2rem;
        font-family: $font-nav;
    }

    a:hover {
        text-decoration-line: underline;
        text-decoration-color: white;
    }
}

.navbar-brand {
    font-size: 2rem;
}